<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="device">
			<section name="deviceDetails" type="System.Configuration.NameValueSectionHandler"/>
		</sectionGroup>
	</configSections>

	<device>
		<deviceDetails>
			<add key="name1" value="ATMS Server"></add>
			<add key="ipaddress1" value="192.168.10.2"></add>
			<add key="name2" value="NA"></add>
			<add key="ipaddress2" value="192.168.10.4"></add>
			<add key="name3" value="M2M"></add>
			<add key="ipaddress3" value="192.168.10.5"></add>
			<add key="name4" value="NVR"></add>
			<add key="ipaddress4" value="192.168.10.6"></add>
			<add key="name5" value="PTZ Keyboard"></add>
			<add key="ipaddress5" value="192.168.10.9"></add>
			<add key="name6" value="CCTV 01"></add>
			<add key="ipaddress6" value="192.168.10.101"></add>
			<add key="name7" value="CCTV 02"></add>
			<add key="ipaddress7" value="192.168.10.102"></add>
			<add key="name8" value="CCTV 03"></add>
			<add key="ipaddress8" value="192.168.10.103"></add>
			<add key="name9" value="CCTV 04"></add>
			<add key="ipaddress9" value="192.168.10.104"></add>
			<add key="name10" value="CCTV 05"></add>
			<add key="ipaddress10" value="192.168.10.105"></add>
			<add key="name11" value="CCTV 06"></add>
			<add key="ipaddress11" value="192.168.10.106"></add>
			<add key="name12" value="CCTV 07"></add>
			<add key="ipaddress12" value="192.168.10.107"></add>
			<add key="name13" value="CCTV 08"></add>
			<add key="ipaddress13" value="192.168.10.108"></add>
			<add key="name14" value="CCTV 09"></add>
			<add key="ipaddress14" value="192.168.10.109"></add>
			<add key="name15" value="CCTV 10"></add>
			<add key="ipaddress15" value="192.168.10.110"></add>
			<add key="name16" value="CCTV 11"></add>
			<add key="ipaddress16" value="192.168.10.111"></add>
			<add key="name17" value="CCTV 12"></add>
			<add key="ipaddress17" value="192.168.10.112"></add>
			<add key="name18" value="CCTV 13"></add>
			<add key="ipaddress18" value="192.168.10.113"></add>
			<add key="name19" value="CCTV 14"></add>
			<add key="ipaddress19" value="192.168.10.114"></add>
			<add key="name20" value="CCTV 15"></add>
			<add key="ipaddress20" value="192.168.10.115"></add>
			<add key="name21" value="CCTV 16"></add>
			<add key="ipaddress21" value="192.168.10.116"></add>
			<add key="name22" value="CCTV 17"></add>
			<add key="ipaddress22" value="192.168.10.117"></add>		
		</deviceDetails>
	</device>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
	</startup>
</configuration>